@import "./colors";
.tags {
  span {
    display: inline-block;
    padding: 5px 10px;
    color: $textColor;
    margin: 3px;
    background: $primaryColor;
    color: $secondaryColor;
    border-radius: 3px;
    border: 1px solid $primaryColor;
    transition: all linear 0.4s;

    &:hover {
      background: transparent;
      border: 1px solid $primaryColor;
      color: $textColor;
    }
  }
}
