@import "./colors";
@import "./mixins";

.title__container {
  .title {
    @include heading(24px, 700);
    display: inline-block;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      right: -67px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 2px;
      background: $primaryColor;
    }
  }
}
